body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  display: flex;
  background-color: #333;
}

header h1 {
  background-color: aqua;
  margin: 10px 0;
  padding: 10px 10px 10px 10px;
}
#navbar {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 100px;
  z-index: 1000;
  gap: 10px;
}

#navbar a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color:aqua;
  position: relative; 
}

#navbar a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: aqua;
  bottom: 0;  
  left: 0;    
}


#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#welcome-section {
  display:flex;
  position: relative;
  background-image: url('./Images/Welcome-background-image.jpg'); 
  background-position: left;
}

#welcome-section .image-div{
  display:flex;
  align-items: center;
  padding: 20px;
}

#welcome-section .image-div img {
  width: 240px;
  border-radius: 60%;
}
#welcome-section h2 {
  background-color: aqua;
  padding: 11px;
  position: absolute;
  bottom: 90px;
  right: 145px;
  font-size: 32px;    
}
section {
  background-color: #fff;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #333;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main {
}

.main-right {
  background-color: white
}

.main-bottom {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 20px;
}

.main-bottom h2 {
  border-right: 3px solid rgb(16, 16, 57);
  text-align: right;
  padding-right: 15px;
}
/*
#about-me
{
  border-left: 3px solid rgb(16, 16, 57);
}
*/

#about-me
{
  position: relative;
  margin-bottom: 50px;
  background-color: aqua;
  display:grid;
  grid-template-columns: 20% 80%;
  gap: 20px;

}
#about-me h2 {
  border-right: 3px solid rgb(16, 16, 57);
  padding-right: 15px;
  text-align: right;
}

.project-tiles {
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 0;
  position: relative;
  grid-gap: 20px;
}

.project-tile {
  background-color: #252526;
  border: 3px solid aqua;
  height: 20vh;
  box-sizing: border-box;
  transition: transform 0.3s;
  border: 0.2rem solid #252526;
  position: relative;
}

.project-tile-1 {
  background-image: url("./Images/Website\ Screenshot.png");
  background-size: cover;
  height: 60vh;
  grid-column: span 2;
  position: relative;
  border: 3px solid aqua;
}
.project-tile-1 > div {
  position: absolute;
  left:0;
  bottom: 2%;
  background-color: aqua;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: rgb(51, 57, 89); 
  width: 200px;
}

.project-tile-1 > a p {
  font-size: 13px;

}
.project-tile-1:hover {
  transform: scale(1.05);
}

.project-tile:hover {
  transform: scale(1.05);
}

.project-tile > a {
  position:absolute;
  left: 0;
  bottom: 5%;
  padding: 10px;
  text-align:center;
  text-decoration: none;
  background-color: aqua;
  width: 200px;
  color: rgb(51, 57, 89);

}

.project-tile > a p {
  font-size: 13px;
}

.project-image-large {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

#contact {
  background-color: #333;
  display: flex;
  justify-content: space-between;

}

#contact h2 {
  background-color: aqua;
  margin: 10px 0;
  padding: 10px 10px 10px 10px;
}

#contact ul {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 100px;
  z-index: 1000;
  gap: 10px;
}
#contact ul a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color:aqua;
  position: relative;
}

#contact ul a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: aqua;
  bottom: 0;  
  left: 0;    
}

@media (max-width: 768px) {
  .project-tile {
      max-width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .project-tile {
      max-width: 100%;
  }
}
